.homeMain, .otherMain {
  background-size: auto !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;

  width: 100% !important;
  height: 700px;
  color: white;
  text-shadow: 1px 1px black;
  padding: 100px 200px;
  text-align: center;
  z-index: 1;

}

.mainHeading {
  background-color: rgba(0, 0, 0, 0.408);
  padding-block: 20px;
  padding-inline: 20px 20px;
  display: inline-block;
  letter-spacing: 4px;
  word-spacing: 10px;
  font-size: 40px;
}

.subHeading {
  background-color: rgba(0, 0, 0, 0.356);
  padding-block: 20px;
  padding-inline: 20px 20px;
  margin-block: 20px;
  display: inline-block;
  word-spacing: 5px;
}

.serviceMainLower {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.solutionscontainer {
  background-color: rgba(0, 0, 0, 0.356);
  text-align: start;
  padding-block: 20px;
  padding-inline: 40px 20px;
}
.solutionsFor {
  font-weight: bolder;
  margin-left: -20px;
}
.solutionsList {
  text-align: start;
  display: flex;
  list-style: disc;
  flex-direction: column;
  height: 100px;
  flex-wrap: wrap;
  width: 450px;
}
.solutionsList > li {
  margin-block: 2px;
}

.quoteBtn {
  height: 50px;
  background-color: #d12d24;
  color: white;
  padding: 10px 25px;
  border: none;
  font-weight: bold;
  transition: background-color 100ms ease;
}

.quoteBtn:hover {
  background-color: #a62019 ;
}

/* Other nav service */
.otherMain{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}


@media screen and (max-width:1060px) {
    
    .mainHeading {
        padding-block: 15px;
        letter-spacing: 3px;
        word-spacing: 5px;
        font-size: 30px;
      }
      
      .subHeading {
        margin-block: 20px;
        word-spacing: 5px;
        font-size: 18px;
      }
      
      .serviceMainLower {
        flex-direction: column;
        align-items: center;
        margin-block: 10px;
        gap: 20px;
      }
      
      .solutionscontainer {
        padding-block: 15px;
      }
    }

@media screen and (max-width: 700px) {
  .serviceMain {
    padding: 50px;
  }
  .mainHeading {
    padding-block: 50px;
    padding-inline: 10px 10px;
    font-size: 20px;
    display: inline-block;
    letter-spacing: 2px;
    word-spacing: 5px;
  }

  .subHeading {
    font-size: 14px;
    padding-block: 10px;
    letter-spacing: 2px;
    font-weight: normal;
    margin-block: 20px;
    display: inline-block;
    word-spacing: 5px;
  }

  .serviceMainLower {
    flex-direction: column;
    margin-top: 30px;
  }

  .solutionsList {
    font-size: 12px;
    text-align: start;
    display: flex;
    list-style: disc;
    flex-direction: column;
    height: 80px;
    flex-wrap: wrap;
    width: 300px;
  }
  .solutionsList > li {
    margin-block: 3px;
  }

  .quoteBtn {
    margin-top: 30px;
    border-radius: 8px;
  }
}

